pypdf
langchain_community==0.4.1
langchain_core==1.4.0
langchain_ollama==1.1.0
langchain_google_genai==2.1.0
langchain_huggingface==0.2.0
langchain_text_splitters==1.1.2
sentence-transformers>=3.0.0
streamlit==1.57.0
pandas
matplotlib
openpyxl
numpy
tqdm
pyyaml
requests
seaborn
deepeval
